# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.xd binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
