@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import 'src/styles/_vars';

body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    background-color: #fafafa;
}

$primary-color: #f74062;

.mat-flat-button {
    &.mat-primary {
        border-radius: 18px;
        color: white;
        background-color: $primary-color;
    }
}
